@model IEnumerable<File_Access_Monitoring.Models.Attendance>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string date = ViewBag.date;
    
}
<div id="app">

    <div class="container d-flex align-items-center">
        <h6 class="flex-fill">Date wise Attendance</h6>
        <form method="get" action="/Attendances/DatewiseAttendance">
        <div class="input-group" style="width: 242px;">
            <input name="date" required class="form-control" type="date" value="@date"  />
            <button typeof="submit" class="btn btn-primary">Search</button>
            </div>
        </form>
    </div>

    <hr />
    <div class="container">
        <table class="table">
            <thead>
                <tr>

                    <th>
                        @Html.DisplayNameFor(model => model.CheckIn)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CheckOut)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Duration)
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.CheckIn)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CheckOut)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Duration)
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>

    </div>


